<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>HelloWorldUSTBlockchain</title>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <style type="text/css">
      img { width: 100%; }
    </style>
  </head>
  <body bgcolor="#364960">
    <table border="0" cellspacing="0" cellpadding="0" width="100%">
      <tr>
        <td width="156"><img src="/images/logo.jpg" width="156" height="61" border="0" alt="IBM Bluemix"></td>
        <td><img src="/images/background.jpg" height="61" border="0" alt="IBM Bluemix"></td>
      </tr>
    </table>
    <p>
      <font color="white">Compiled Contract:</font><br><br>
      <font color="white"><%= JSON.stringify(compiledContract, null, '\t') %></font>
    </p>
  </body>
<html/>
